:root {
    --color-brand: #c2c8d3;
    --color-title: #515151;
    --color-text: #515168;
    --bg-btn: #99a7ff;
}

.proddetails {
    max-width: 100%;
    padding: 60px 20px 20px 20px;
    box-sizing: border-box;
    flex: 1 1 50%;
}

.proddetails__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-brand);
}
.proddetails__title-brand {
    color: var(--color-brand);
    padding-left: 20px;
}
.proddetails__title-name {
    color: var(--color-title);
}
.proddetails__buy {
    font-size: 1.2rem;
    color: var(--color-title);
}
.proddetails__buy-details {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px 0;
}
.proddetails__buy-details-price {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.proddetails__buy-details-quantity-btns button {
    padding: 3px 10px;
    background-color: var(--bg-btn);
    color: #fff;
    border-radius: 7.5px;
}
.proddetails__details {
    font-size: 0.95rem;
    text-align: justify;
}
